<!DOCTYPE html>
<html>
  <body>
    {{> hello}}
    {{> entry}}
    <form method="POST">
      <input type="checkbox" name="delete" value="1" />
      <input class="btn btn-primary" type="submit" value="delete" />
    </form>
  </body>
</html>
