<article>
  <h1><a href="{{ url_for('get_keyword', keyword = entry.keyword) }}">{{ entry.keyword }}</a></h1>
  <div>{{ entry.html | safe }}</div>
  <button class="js-add-star" data-keyword="{{ entry.keyword }}" data-user-name="{{ request.user_name }}"><img src="/img/star.gif"></button>
  <span class="js-stars" data-keyword="{{ entry.keyword }}">
    {% for star in entry.stars %}
      <img src="/img/star.gif" title="{{ star.user_name }}" alt="{{ star.user_name }}">
    {% endfor %}
  </span>
</article>
