<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.isucon6.qualify.mapper.UserMapper">
    <select id="findByName" resultType="net.isucon6.qualify.domain.User">
        SELECT * FROM user WHERE name = #{name}
    </select>
    <insert id="create" parameterType="net.isucon6.qualify.domain.User">
        INSERT INTO user (name, salt, password, created_at) VALUES (#{name}, #{salt}, #{password}, NOW())
    </insert>
    <select id="findLastInsertId" resultType="int">
        SELECT LAST_INSERT_ID() AS last_insert_id
    </select>
</mapper>
