    </div> <!-- /container -->

    <script type="text/javascript" src="{{ url_for "/js/jquery.min.js" }}"></script>
    <script type="text/javascript" src="{{ url_for "/js/bootstrap.min.js" }}"></script>
    <script type="text/javascript" src="{{ url_for "/js/star.js" }}"></script>
  </body>
</html>
