[Unit]
Description = isucon6 qualifier sub application in perl

[Service]
WorkingDirectory=/home/isucon/webapp/perl
EnvironmentFile=/home/isucon/env.sh
Environment=PLACK_ENV=production

ExecStart = /home/isucon/.local/perl/bin/carton exec -- plackup -s Starlet -p 5001 --max-workers=5 isutar.psgi

Restart   = always
Type      = simple
User      = isucon
Group     = isucon

[Install]
WantedBy = multi-user.target
